<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <uses-permission android:name="com.wireguard.android.permission.CONTROL_TUNNELS" />
    <!--    <uses-permission android:name="android.permission.CAPTURE_AUDIO_HOTWORD" />-->
    <!--    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />-->
    <!--    <uses-permission android:name="android.permission.CAPTURE_MEDIA_OUTPUT" />-->
    <!--    <uses-permission android:name="android.permission.CAPTURE_TUNER_AUDIO_INPUT" />-->
    <!--    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT" />-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission android:name="moe.rikaaa0928.uot.SHOW_MESSAGE" />
    <permission android:name="moe.rikaaa0928.uot.permission.SHOW_MESSAGE" 
        android:protectionLevel="signature"/>
    <uses-permission android:name="moe.rikaaa0928.uot.permission.SHOW_MESSAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uotandroid"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".UogGrpc"
            android:exported="false"
            android:foregroundServiceType="specialUse|microphone">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="udp over grpc service for udp packets" />
        </service>
    </application>

</manifest>